/* index.css */
/* 반응형 css속성 변경 시 애니메이션 적용 속성 */
body * {transition:all 0.5s}
/* 필수는 아니지만 자연스러운 효과를 주고 싶을 때 참고 */
/* 1행 ========================== 북극곰 후원 안내 */
#wrap {} /* 기본값 유지를 위해 작성하지 않음. 기본값 -> 너비는 부모의 100%, 높이는 내용만큼 */
#wrap .intro {
    height:100vh;
    background:url(../images/bg1.png) no-repeat center / cover;
    position:relative;
}
#wrap .intro::before {
    content:''; display:block; /* 가상요소의 필수속성 */
    width:100%; height:100%;
    position:absolute; left:0; top:0; z-index:20;
    background:linear-gradient(transparent, rgba(0,0,0,0.8));
}
#wrap .intro .container {
    border:3px solid aqua;
    position:relative; z-index:30;
    max-width:1250px; /* 1250까지만 커지고 그 이하는 상대값으로 처리해라 */
    min-width:320px; /* 최소로 작아져야할 값 작성하기 */
    /* 부모는 100%로 두고 실제 컨텐츠 기준으로 max,min 적용하기 */
    margin:0 auto; /* 디바이스 크기보다 width가 작은 블록요소를 가운데 배치하는 방법 */
    /* 형제-형제 margin, 부모-자식 psdding */
    padding-top:100px;
    /* 자식,자손이 인라인일경우 수평정렬 text-align */
    text-align:center;
    overflow:hidden;
}
/* 2개의 h1의 디자인이 너무 다르니까 처음부터 수열로 나누어서 작성 */
#wrap .intro .container h1:nth-child(1) {
    text-align:left;
    margin-bottom:100px;
} 
#wrap .intro .container h1:nth-child(1) a {}
#wrap .intro .container h1:nth-child(1) a img {width:89px;}
#wrap .intro .container h1:nth-child(2) {
    color:#fff;
    font-size:4.375rem;
    line-height:1.3;
}
#wrap .intro .container h1:nth-child(2) em {
    color:#fff;
    font-size:4.375rem;
    font-weight:700;
}
#wrap .intro .container .sponsor_btn {
    display:block;
    width:409px; line-height:71px; /* 수직중앙 배치해야하는 글자가 1줄일 경우 height생략가능. line-height만 px값으로 적용 */
    color:#fff;
    background:linear-gradient(90deg, #FE9300, #FF7300);
    border-radius:50px;
    margin:100px auto; /* 블록요소 중앙정렬하면서 위아래 형제와 margin 한번에 적용하기 */
    font-size:2.125rem; font-weight:700;
}
#wrap .intro .container .sponsor_question {
    float:right; /* flex나 position없이 간단하게 좌우로만 위치시킬때는 float로 처리해보기 -> 후에 반드시 세로크기 혹은 부모에 overflow:hodden; 적용하기*/
    background-color:#050505; color:#fff;
    width:439px; height:51px;
    line-height:1.2; padding-top:10px; /* 피그마의 행간 120%를 살리고 싶다면 높이는 그대로 써주고 padding으로 가운데 배치해준다. */
    border-radius:50px;
    font-size:1.625rem;
}
/* 2행 ========================== 퀴즈 */
#wrap .quiz {
    background:url(../images/quiz_bg.png) center / cover; /* center / cover 기억하기 */
    padding:150px 0;
} 
#wrap .quiz .container {
    max-width:1250px; 
    min-width:320px; /* #wrap .container -> 공통 */
    margin:0 auto;
    border:2px solid red;
    display:grid; /* 왼쪽 퀴즈, 오른쪽 참여현황 정렬 grid */
    grid-template-columns:1fr 1fr; /* 같은 크기로 정렬 */
}
#wrap .quiz .container #left_quiz {}
#wrap .quiz .container #left_quiz * {color:#fff;}
#wrap .quiz .container #left_quiz h2 {
    text-align:center;
    font-size:3.438rem; font-weight:500;
    margin-bottom:38px;
}
#wrap .quiz .container #left_quiz h3 {
    font-size:1.25rem;
    line-height:1.7;
}
#wrap .quiz .container #left_quiz .list {
    display:grid; 
    grid-template-rows:repeat(4, 34px);
    margin:8px 0 38px;
}
#wrap .quiz .container #left_quiz .list label {}
#wrap .quiz .container #left_quiz .list label input[value*=q] {display:none;} /* label이 있기 때문에 가려도 가능 */
#wrap .quiz .container #left_quiz .list label input[value*=q]:checked + span {
    background-image:url(../images/chk_on.png);
} /* input을 눌렀을때 span의 이미지를 on으로 바꿔라 */
#wrap .quiz .container #left_quiz .list label span {
    background-image:url(../images/chk_off.png);
    background-repeat:no-repeat;
    background-position-y:4px;
    padding-left:48px;
    line-height:34px;
    display:block;
}
#wrap .quiz .container #left_quiz #answer_btn {
    background:#050505;
    width:100%; line-height:54px;
    border-radius:50px;
}
#wrap .quiz .container .right {text-align:right; margin:68.92px 0;}
#wrap .quiz .container .right p {}
#wrap .quiz .container .right p:nth-child(1) {}
#wrap .quiz .container .right p:nth-child(1) img {
    width:100%;
    margin-bottom:20px;
}
#wrap .quiz .container .right p:nth-child(2) {color:#fff;}
/* 3행 ========================== 새끼북극곰 이야기 */
#wrap .ad {
    background:url(../images/video_bg.png) right / cover;
    /* 이미지의 주인공 위치가 어딘지에 따라 position 설정 -> 곰 얼굴이 오른쪽에 있으니까 position을 오른쪽에 맞춰놓으면 크기를 줄여도 곰 얼굴이 따라옴 (무조건 center가 정답이 아닌 이미지 상황에 따라 설정해주기) */
    padding:200px 0;
}
#wrap .ad .container {
    max-width:1250px;
    min-width:320px;
    margin:0 auto;
    text-align:center;
    border:5px solid red;
}
#wrap .ad .container h2 {
    font-size:3.438rem; font-weight:500;
}
#wrap .ad .container iframe {
    width:100%; max-width:900px; height:600px;
    /* 영상주소를 복사해서 가져온 iframe은 너비를 100%로 한번 더 적어줘야한다. */
    margin:70px 0;
}
#wrap .ad .container .sponsor_btn {
    display:block;
    width:409px; line-height:71px;
    color:#fff;
    background:linear-gradient(90deg, #fe9300, #fe7300);
    border-radius:50px;
    margin:0 auto;
    font-size:2.125rem; font-weight:700;
}
/* 4행 ========================== 빙하면적감소 */
/* 5행 ========================== 인류재앙 */
/* 6행 ========================== 지구위기 */
/* 7행 ========================== WWF단체홍보 */
/* 8행 ========================== 다양한 활동 */
/* 9행 ========================== 감사선물 */
/* 10행 ========================== 결제 안내사항 */